*{
    box-sizing: border-box;
}

main{
    width: 90%;
    margin: auto;
    padding-bottom: 2em;
}

.center-text{
    text-align: center;
}

img{
    padding: 10px;
    width: 210px;
}

h1{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(49, 118, 221);
    width: 30%;
    margin: 0.5em auto 2em auto;
}

#vueTopic{
    padding-bottom: 2em;
}

.fa-lock-open{
    color : rgb(37, 175, 122);
    padding: 0 0.5em;
}

.fa-lock{
    color : rgb(119, 23, 28);
    padding: 0 0.5em;
}

nav{
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    background-color: rgb(49, 118, 221);
    font-size: 24px;
}

nav a, nav a:visited{
    text-decoration: none;
    color: #000;
}

article{
    display: flex;
    flex-direction: row;
}

.minprofil, .response{
    display: flex;
    flex-direction: column;
    border: 3px solid #000;
}

.minprofil span{
    padding: 0.5em;
}

.response{
    flex: 1;
    text-align: left;
    padding-left: 2em;
}

.messagecore{
    flex: 1;
    padding-top: 2em;
}

textarea{
    width: 90%;
    margin-bottom: 1em;
}

.datecreation{
    width: 90%;
    margin: auto;
    text-align: end;
    padding: 0.5em 2em;
    border-top: 1px solid #000;
}

.pagination-arrow, .active, .pagination-arrow{
    margin : 0.5em;
}